
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BeatNest
    </ion-title>
  </ion-toolbar>
  <ion-toolbar >
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="scrollSection">
    <div class="wrapper">
      <div *ngIf="musicData && musicData.length > 0; else noData">
        <div class="song-grid">
          <ion-card *ngFor="let song of musicData; let i = index" class="song-card">
            <div class="card-image" (click)="setCurrentSong(i)">
              <img [src]="song.image[2]?.link" alt="Song Poster" />
            </div>
            <ion-card-header>
              <ion-card-title>{{ song.name }}</ion-card-title>
              <ion-card-subtitle>{{ song.primaryArtists }}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
      </div>
    </div>
  </div>

  <!-- Template for no data -->
  <ng-template #noData>
    <p>No songs available</p>
  </ng-template>
</ion-content>
