<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BeatNest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- scroll section -->
  <div class="scrollSection">
    <div class="wrapper">
      <h4>Trending Songs</h4>
      <div class="sliderContainer">
        <!-- card here -->
        <ion-card *ngFor="let song of musicData; let i= index">
          <div class="card-image" (click)="setCurrentSong(i)">
            <img [src]="song.image[2].link" alt="Song Poster" />
          </div>
          <ion-card-header>
            <ion-card-title>{{ song.name }}</ion-card-title>
            <ion-card-subtitle>{{song.primaryArtists}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
   
  </div>
  <div [class.ios]="isIos" class="miniPlayer">
    <app-mini-player></app-mini-player>
  </div>


</ion-content>